:root {
    --nav-title-font-size: 4rem;
    --nav-title-font-weight: 600;
    --nav-link-font-weight: 400;
    --nav-link-font-size: 1.5rem;
    --hover-font-color: #6bde3b;
}

.header-title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header-nav ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.header-nav li{
    list-style: none;
}

.header-nav li a{
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    font-size: var(--nav-link-font-size);
    padding: 1rem;
}

.header-nav li a:hover, .header-title:hover{
    color: var(--hover-font-color);
    transition: all 0.3s;
}